//JavaScript compiler that converts modern JavaScript into code that can be backwards
// compatible with older versions of web browsers and environments.
{ "presets": ["@babel/preset-env", "@babel/preset-react"] }
